h1 {
    font-size: 3rem;
}

.btn-light {
    border: 1px solid #AAA;
}

#site-infos {
    background-color: #FFF;
    border: 1px solid #AAA;
    color: #AAA;
    font-size: 0.8rem;
    left: 50px;
    position: fixed;
    text-align: justify;
    top: 50px;
    width: 15rem;
}
#site-infos .card-body {
    padding: 0.5rem;
}
#site-infos p:last-child {
    margin: 0;
}

.search-tip {
    font-size: 0.8rem;
    color: #AAA;
}

.result-single {
    margin-bottom: 30px;
}
.result-single .col-12 {
    padding-left: 0;
}
.result-single .link-owner {
}
.result-single .link-repo {
    color: #555;
    font-size: 0.95rem;
    font-weight: bold;
}
.result-single .link-file {
}
.result-single .link-rawfile {
    color: #AAA;
    font-size: 0.8rem;
}
.result-single .code {
    border: 1px solid #AAA;
    border-radius: 3px;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    font-size: 12px;
    overflow: auto;
    padding: 5px;
}
.result-single .code .code-highlight {
    color: #2B580C;
}
.result-single .n-match {
    color: #AAA;
    font-size: 0.8rem;
}
